<div>
  <app-navbar> </app-navbar>
     <div class="wrapper">
         <app-sidemenu></app-sidemenu>

          <div id="content">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          <h1>{{firstName}} {{lastName}}'s Profile</h1>
                          <h2>Posts:</h2>
                          <div class="card" *ngFor="let post of postContent">
                            <div class="card-header">
                              {{post.name}}
                            </div>
                            <div class="card-body">
                              <div class="container">
                                <div class="row">
                                  <div class="col-lg-1">
                                  </div>
                                  <div class="col-lg-10">
                                    <p>{{post.content}}</p>
                                  </div>
                                  <div class="col-lg-1">
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-1">
                                  </div>
                                  <div class="col-lg-2">
                                    <input id="{{post.id1}}" (click)="like(post.id1)" type="image" src={{post.src1}} width="48"
                                      height="48">
                                    <small id="liked" class="form-text text-muted">{{post.likecount}}</small>
                                  </div>
                                  <div class="col-lg-2">
                                    <input id="{{post.id2}}" (click)="dislike(post.id2)" type="image" src={{post.src2}}
                                      width="48" height="48">
                                    <small id="disliked" class="form-text text-muted">{{post.dislikecount}}</small>
                                  </div>
                                  <div class="col-lg-3"></div>
                                  <div class="col-lg-3">
                                    <input id="repost" (click)="repost(post.id)" type="image" src="../../assets/repost-icon.png" width="48" height="48">
                                  </div>
                                  <div class="col-lg-1">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>