ul {
    list-style-type: none;
}
input{
    -webkit-box-shadow: inset 0 0 15px #888888;
    box-shadow: inset 0 0 15px #888888;
    -moz-box-shadow: inset 0 0 15px #888888;
    margin-top: 10px
}
.btn {
    background: #aad4e5;
    font-weight: bold;
    color: white;
    box-shadow: 5px 5px #888888;
    font-size: 15px;
    margin-top: 15px;
}

.btn:active {
    transform: translateY(2px);
}
.card{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    position: relative;
}
.messages {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    position: relative;
    overflow: auto;
    height: 400px;
}

.wrapper {
    display: flex;
    align-items: stretch;
}