ul {
    list-style-type: none;
    
  }
.card{
    background: none;
}

.btn{
    background:  #aad4e5;
    font-weight: bold;
    color: white;
    box-shadow: 5px 5px #888888;
    font-size: 15px;
    margin-top: 15px;
}

.btn:active{
    transform: translateY(2px);
}
.messages{
    margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
		border-radius: 25px;
		background-color: white;
		padding: 10px;
        position: relative;
}
.wrapper {
    display: flex;
    align-items: stretch;
}
