
<div class="card">
    <div class="card-header">
       User
    </div>
    <div class="card-body">
     <div class="container">
       <div class="row">
         <div class="col-lg-1">
         </div>
         <div class="col-lg-10">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eveniet aut nostrum obcaecati labore molestiae ex at perspiciatis. In optio tempore aperiam delectus iste nobis officiis aliquid placeat harum molestias.</p>
     
          </div>
          <div class="col-lg-1">
            </div>
         
       </div>
       <div class="row">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-1">
            <app-snowconelike></app-snowconelike>
           <small id="liked" class="form-text text-muted">Like</small>
          </div>
          <div class="col-lg-1">
            <app-snowconedislike></app-snowconedislike>
           <small id="disliked" class="form-text text-muted">Hate</small>
          </div>
          <div class="col-lg-6"></div>
          <div class="col-lg-2">
              <button type="submit" class="btn">Comment</button>
          </div>
           <div class="col-lg-1">
             </div>
          
        </div>
     </div>
       
    </div>
  </div>