<div>
    <app-navbar> </app-navbar>
       <div class="wrapper">
           <app-sidemenu></app-sidemenu>

            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Messages</h2><button id="newMessage" (click)="newMessage()">New Message</button>
                              <ul *ngFor="let user of users">
                                <li>
                                 <a (click)="populateMessageThread(user)" routerLink="/messagesthread">{{user}}</a> 
                                </li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        
        </div> 
</div>

