<div>
<button (click)="loadMessages()">Load Messages</button>

                          <h2>Messages</h2>
                            <ul *ngFor="let message of messages">
                              <li>User1: {{message.user1.firstname}} {{message.user1.lastname}} User2: {{message.user2.firstname}} {{message.user2.lastname}}</li>
                            </ul>
                            
                            <ul> 
                            <div id="messages">


                            </div>
                            </ul>

</div>