<div class="navbar">
  <ul class="">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" #searchContents (keyup.enter)="search(searchContents)" (keyup.enter)="clearMessageRefresh()" (keyup.enter)="searchContents.value=''">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button" (click)="search(searchContents)" (click)="clearMessageRefresh()">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </ul>
</div>