<nav id="sidebar">
    <div class="sidebar-header">
        <app-profilepicture></app-profilepicture>
    </div>
    <hr>
    <p>{{name}}</p>
    <hr>
    <ul class="list-unstyled components">
        <li>
        </li>
        <li>
            <a routerLink="/mainview" (click)="clearMessageRefresh()">Home</a>
        </li>
        <li>
            <a href="#" (click)="clearMessageRefresh()">Profile</a>
        </li>
        <li>
            <a routerLink="/mypost">View My Post </a>
        </li>
        <li>
            <a routerLink="/friendslist" (click)="clearMessageRefresh()">Friends List</a>
        </li>
        <li>
            <a routerLink="/messages" (click)="clearMessageRefresh()">Messages</a>
        </li>
    </ul>
    <button type="submit" class="btn " (click)="clearMessageRefresh()">Log Out</button>
</nav>