<nav id="sidebar">
    <div class="sidebar-header">
        <app-profilepicture></app-profilepicture>
    </div>
    <hr>
    <p>{{name}}</p>
    <hr>
    <ul class="list-unstyled components">
        <li>
        </li>
        <li>
            <a routerLink="/mainview">Home</a>
        </li>
        <li>
            <a href="#">Profile</a>
        </li>
        <li>
            <a href="/mypost">View My Post </a>
        </li>
        <li>
            <a routerLink="/friendslist">Friends List</a>
        </li>
        <li>
            <a routerLink="/messages">Messages</a>
        </li>
    </ul>
    <button type="submit" class="btn ">Log Out</button>
</nav>