<div class="container" id="update_Profile">
    <div class="row">
        <form class="form col-lg-12">
            <h3><strong>Update Profile</strong></h3>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="input_First_Name" placeholder="Update First Name">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="input_Last_Name" placeholder="Update Last Name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" placeholder="Update Password" title="At least 6 characters with letters and numbers"
                    required="">
            </div>
            <div>
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block file-upload">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-lg float-right">Save</button>
            </div>
        </form>
    </div>
</div>