<div class="container" id="update_Profile">
    <div class="row">
        <form class="form col-lg-12" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <h3><strong>Update Profile</strong></h3>
            <hr>
            <div class="row">
                <div class="col-lg-6 form-group">
                    <input type="text" class="form-control" id="input_First_Name" 
                    placeholder="First Name" formControlName="firstname" 
                    name="firstname" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" required>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">This Field Is Required</div>
                        <div *ngIf="f.password.errors.minlength">First Name Must Be At Least 4 characters</div>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                    <input type="text" class="form-control" id="input_Last_Name" 
                    placeholder="Last Name" formControlName="lastname" 
                    name="lastname" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" required>
                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                        <div *ngIf="f.lastname.errors.required">This Field Is Required</div>
                        <div *ngIf="f.lastname.errors.minlength">Last Name Must Be At Least 1 character</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" 
                placeholder="Password" formControlName="password" 
                name="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required="">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password Is Required</div>
                    <div *ngIf="f.password.errors.minlength">Password Must Be At Least 4 characters</div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" 
                placeholder="Confirm Password" formControlName="confirmPassword" 
                name="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" required>
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Password Is Required</div>
                    <div *ngIf="f.confirmPassword.errors.minlength">Password Must Be At Least 4 characters</div>
                </div>
            </div>
            <div>
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block file-upload">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-lg float-right" 
                [disabled]="loading">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>