<nav class="navbar navbar-expand-lg navbar-light ">


    <a class="navbar-brand" href="#">
      <h1> <strong> Yellow Snow Cone</strong></h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <form class="form-inline">
          <div class="form-group">
            <input type="email" class="form-control" id="login_Email" aria-describedby="emailHelp" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="login_Password" placeholder="Password">
          </div>
          <button type="submit" class="btn" routerLink="/mainview">Log In</button>
          <!-- <router-outlet></router-outlet> -->
        </form>
      </ul>
    </div>
  
</nav>