<nav class="navbar navbar-expand-lg navbar-light ">


    <a class="navbar-brand" href="#">
      <h1> <strong> Yellow Snow Cone</strong></h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <form class="form-inline" #loginForm="ngForm" (ngSubmit)="onSubmit()">
          {{loginForm.value | json}}
          <div class="form-group">
            <input type="email" ngModel [(ngModel)]="newUserModel.email" name="email" 
                class="form-control" id="login_Email" aria-describedby="emailHelp" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <input type="password" ngModel [(ngModel)]="newUserModel.password" name="password" 
                class="form-control" id="login_Password" placeholder="Password">
          </div>
          <button type="submit" class="btn">Log In</button>
        </form>
      </ul>
    </div>

  
</nav>