<div class="container" id ="Register">
  <div class="row">
    <form class="form col-lg-12">
      <h3><strong>Create a New Account</strong></h3>
      <p>It’s free and always will be!</p>


      <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control" id="input_First_Name" placeholder="First Name">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control" id="input_Last_Name" placeholder="Last Name">
            </div>
          </div>
      </div>
      <div class="form-group">    
          <input type="email" class="form-control" id="input_Email" placeholder="Email" required="">
      </div>
      <div class="form-group">
         
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" title="At least 6 characters with letters and numbers" required="">
      </div>
     
      <div class="form-group">
          <button type="submit" class="btn btn-default btn-lg float-right">Register</button>
      </div>
    </form>

    <!-- DELETE LATER -->
    <h3> Logged-In </h3>
    <ul *ngFor="let user of users" style="font-size:15px">
      <li>ID:{{user.userId}}, Email:{{user.email}}, Password:{{user.pngassword}}</li>
    </ul>
  </div>
</div>

